{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": ["standard-with-typescript", "plugin:prettier/recommended"],
  "overrides": [],
  "rules": {
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/no-extra-semi": "error"
  }
}
