*.env
**/node_modules
.serverless*.env
**/node_modules
.serverless*.env
**/node_modules
.serverless*.env
**/node_modules
.serverless*.env
**/node_modules
.serverless*.env
**/node_modules
.serverless*.env
**/node_modules
.serverless*.env
**/node_modules
.serverless
